AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=spotify-raw
AZURE_SQL_SERVER=sql-spotifycharts.database.windows.net
AZURE_SQL_DATABASE=spotify_warehouse
AZURE_SQL_USER=spotifyadmin
AZURE_SQL_PASSWORD=LionelMessi1523756!
KAGGLE_USERNAME=sadeghibrahimi
KAGGLE_KEY=KGAT_ac96eefb3bf000598599e39f39accb9b
AZURE_STORAGE_ACCOUNT_NAME=
SQL_MASTER_KEY_PASSWORD=LionelMessi1523756!
SPOTIFY_BLOB_NAME=charts.csv